



.msg__welcome {
    display: flex;
    flex-direction: column;
}   

.msg__welcome h1 {
    font-size: 42px;
    font-weight: 400;
    color: var(--text-primary);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.msg__welcome p {
    font-size: 24px;
    color: var(--text-muted);
    margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  width: 100%;
}

