.skeleton {
  background-color: var(--background);   /* gris oscuro para modo oscuro */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, var(--background), transparent);
  animation: loading 1.5s infinite;
}
.skeleton {
  background-color: var(--secondary);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}



.skeleton-table {
  width: 100%;
  border-collapse: collapse;
}

.skeleton-row {
  height: 40px;
}

.skeleton-cell {
  padding: 8px;
}

.skeleton-box {
  height: 16px;
  border-radius: 4px;
}



@keyframes loading {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

.skeleton-card {
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.skeleton-img {
  width: 100%;
  height: 100px;
  border-radius: 8px;
}

.skeleton-text {
  height: 16px;
  width: 70%;
  border-radius: 4px;
}

.skeleton-subtext {
  height: 14px;
  width: 40%;
  border-radius: 4px;
}

