.msg__welcome {
    display: flex;
    flex-direction: column;
}

.msg__welcome h1 {
    font-size: 42px;
    font-weight: 400;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.msg__welcome p {
    font-size: 24px;
    color: var(--text-muted);
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.container__badget {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.badget {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary);
    background: var(--background);
    padding: 20px;
    border-radius: 10px;

}

.content {
    display: flex;
    flex-direction: column;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.form_control label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--text-muted);
}

.form_control input {
    background-color: var(--background);
    border: 1px solid var(--secondary);
    padding: 15px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    max-width: 600px;
}

.table_container {
    overflow-x: auto;
}


.card_estado_cuenta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--background);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card_main_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
}

.card_main_info div {
    flex: 1;
    background-color: var(--background);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--secondary);
}

.card_main_info span {
    display: block;
    font-size: 0.9rem;
    color: var(--text-muted);
    margin-bottom: 4px;
}

.card_main_info strong {
    font-size: 1.2rem;
    color: var(--text-muted);
}

.card_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem 1rem;
    font-size: 0.95rem;
    color: var(--text-muted);
}

.modal_footer_actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}